    * {
        outline: 1px solid red;
    }
    
    .panel-general {
        display: flex;
        flex-direction: row;
    }
    
    #sct-content div {
        padding: 25px;
        /* display: flex; */
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #sct-content {
        display: flex;
    }
    
    #sct-content label {
        padding: 2px;
    }
    
    #lb-title {
        font-weight: bold;
    }
    
    .izquierda {
        columns: 2;
    }
    
    .tableOne {
        border: 2px solid purple;
    }
    
    h1 {
        color: purple;
        font-size: 25px;
    }
    
    .tableTwo {
        border: 3px solid purple;
    }
    
    #contenidoCarrito .itemCarrito .shoppingCarItemsContainer {
        display: flex;
        justify-content: space-evenly;
    }
    
    .btn-eliminar {
        background-color: rebeccapurple;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: wavy;
        color: white;
    }
    
    .btn-comprar {
        background-color: darkgreen;
        border-radius: 5px;
        padding: 5px 10px;
        width: 100px;
        height: 50px;
        text-decoration: wavy;
        color: white;
    }
    /*  #sct-content button:hover {
        background-color: #d43e0c;
    }*/