    #sct-content div {
        padding: 25px;
        /* display: flex; */
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #sct-content {
        display: flex;
    }
    
    #sct-content label {
        padding: 2px;
    }
    
    #lb-title {
        font-weight: bold;
    }
    
    .izquierda {
        columns: 2;
    }
    
    .tableOne {
        border: 2px solid purple;
    }
    
    h1 {
        color: purple;
        font-size: 25px;
    }
    
    .tableTwo {
        border: 3px solid purple;
    }