* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sct-registro {
    /*border: 2px solid purple;*/
    display: flex;
}

#sct-registro form {
    /*border: 2px solid goldenrod;*/
    width: 550%;
    padding: 40px;
}

#sct-registro form h1 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

#sct-registro form .input-container {
    margin-bottom: 25px;
}

#sct-registro form label {
    width: 250px;
    display: inline-block;
}

#sct-registro form input {
    width: 250px;
    height: 35px;
}

.btn-oscuro {
    background: blueviolet;
    color: white;
    height: 35px;
    width: 150px;
    font-weight: bold;
    border-color: blueviolet;
}

.btn-oscuro:hover {
    background: violet;
    border: blueviolet;
    cursor: pointer;
}

.img-contenedor {
    width: 50%;
    background-image: url('../imgs/photo-1534438327276-14e5300c3a48.webp');
    background-size: cover;
    background-position-x: 75%;
}

select {
    width: auto;
}

#sct-registro form .input-container div {
    margin-bottom: 25px;
}

p {
    font-weight: bold;
    font-size: 18spx;
    margin-top: 40px;
    margin-bottom: 20px;
}

.input-error {
    border: 2px solid #B33771;
}