body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(179, 149, 19);
}

.validaciones {
    margin-bottom: 40px;
}

.izquierda {
    height: 100vh;
    width: 50%;
}

.derecha {
    background-size: cover;
    background-size: center;
    width: 50%;
    height: 100vh;
}

#pantalla-dividida {
    display: flex;
}