body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

#sct-top {
    height: 50px;
    padding-right: 50px;
    padding-left: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d43e0c;
}

#sct-footer {
    border-top: 2px solid #d43e0c;
    background-color: #d43e0c;
}

#dv-landingPageKrenovadev a {
    color: black;
    text-decoration: none;
}

#dv-landingPageKrenovadev a:hover {
    color: #d4a20c;
}

#dv-nav {
    background-color: #d43e0c;
}

#dv-nav a {
    color: black;
    text-decoration: none;
}

#dv-nav a:hover {
    color: #d4a20c;
}

#sct-footer .dv-contacto {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#sct-footer a {
    margin-left: 25px;
}

#sct-footer .dv-derechos {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

select {
    height: 30px;
    width: 70px;
}

input {
    height: 25px;
    width: 500px;
}

.dv-search button {
    height: 30px;
    width: 25px;
}

.dv-search {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav div {
    margin: 15px;
}