#sct-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#sct-content img {
    margin: 50px;
    border-radius: 8px;
}

#sct-content img:hover {
    box-shadow: 5px 10px #a20cd4;
}