body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sct-top {
    height: 50px;
    padding-right: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

nav {
    border: 2px solid #000;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 40px;
    background-color: #a20cd4;
}

a {
    color: white;
    text-decoration: none;
}

nav div {
    margin: 15px;
}

#sct-content div {
    display: grid;
    grid-row: 2;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#sct-content img {
    margin: 50px;
}

#sct-footer {
    border: 3px solid #000;
}

#sct-footer .dv-contacto {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#sct-footer a {
    margin-left: 25px;
}

#sct-footer .dv-derechos {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}