body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

#sct-footer {
    border: 3px solid #000;
}

#sct-footer .dv-contacto {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#sct-footer a {
    margin-left: 25px;
}

#sct-footer .dv-derechos {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}