body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sct-top {
    height: 50px;
    padding-right: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

select {
    height: 30px;
    width: 70px;
}

input {
    height: 25px;
    width: 500px;
}

.dv-search button {
    height: 30px;
    width: 25px;
}

.dv-search {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #000;
}

nav {
    border: 2px solid #000;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #a20cd4;
}

nav div {
    margin: 15px;
}

a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

#sct-formulario form {
    width: 50%;
    padding: 40px;
}

#sct-formulario form h1 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

#sct-formulario form .input-container {
    margin-bottom: 25px;
}

#sct-footer {
    display: flex;
    border: 3px solid #000;
}

#sct-footer .dv-contacto {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#sct-footer a {
    margin-left: 25px;
}

#sct-footer .dv-derechos {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}